<!DOCTYPE html>
<html lang="en" ng-app="crimevis">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="bower_components/Materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="layout/style.css">
  <title>Visify: Data Visualization for Cities</title>
</head>
<body>
  <div ng-include src="'layout/header.html'"></div>

  <div id="main" ng-view></div>

  <div ng-include src="'layout/footer.html'"></div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="services/services.js"></script>
  <script src="maps/mapController.js"></script>
  <script src="layout/app.js"></script>
</body>
</html>